* {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: "Unbounded", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-toggler {
    display: none;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.work-time {
    display: flex;
}

.work-time p:first-child {
    margin-right: 15px;
}

.work-time p:first-child::before {
    content: url(../img/icon/pin.png);
    padding-right: 5px;
}

.work-time p:last-child {
    padding-top: 7px;
}

.phones {
    display: flex;
}

.phones a {
    margin-right: 15px;
}

.phones a:last-child {
    margin-right: 0;
}

.phones a::before {
    content: url(../img/icon/phone-call.png);
    padding-right: 5px;
}

.g-header-inner .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.g-header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 32px 0px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin-bottom: 20px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li {
    margin-right: 17px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #000;
    transition: all .3s;
}

.menu ul li a:hover {
    color: #2804AB;
    transition: all .3s;
}

.social a {
    margin-right: 5px;
}

.social a:last-child {
    margin-right: 0;
}

.online-payment {
    padding-right: 22px;
    padding-left: 22px;
    background: rgb(210, 202, 80);
    background: linear-gradient(180deg, rgba(210, 202, 80, 1) 0%, rgba(255, 240, 12, 1) 50%, rgba(210, 202, 80, 1) 100%);
    padding-top: 29px;
    padding-bottom: 29px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s;
    color: #000;
}

.online-payment:hover {
    transition: all .3s;
    color: #2804AB;

}

.start {
    margin-bottom: 20px;
}

.slider-item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 12px;
    padding-left: 12px;
}

.start-info {
    width: 45%;
    max-width: 615px;
}

.start-info h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.start-info a {
    background: rgb(210, 202, 80);
    background: linear-gradient(180deg, rgba(210, 202, 80, 1) 0%, rgba(255, 240, 12, 1) 50%, rgba(210, 202, 80, 1) 100%);
    padding: 16px 131px;
    display: inline-block;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    transition: all .4s;
}

.start-info a:hover {
    transition: all .4s;
    box-shadow: 0 20px 40px 0 rgb(236 232 32);
}

.start-banner {
    width: 65%;
    max-width: 739px;
}

.start-banner img {
    width: 100%;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    box-shadow: 3px 3px 32px 0px rgba(0, 0, 0, 0.13);
}

.country {
    margin-bottom: 50px;
}

.country h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.country p:nth-child(4) {
    margin-bottom: 20px;
}

.country-tabs .nav {
    border-radius: 10px;
    margin-bottom: 30px !important;
    box-shadow: 3px 3px 32px 0px rgba(0, 0, 0, 0.13);
}

.country-tabs .nav button {
    padding: 5px;
    font-family: "Montserrat", serif;
    color: #A4B4B8;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #A4B4B8;
    border-radius: 0;
    min-height: 92px;
}

.country-tabs .nav li:first-child button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.country-tabs .nav li:last-child button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.country-tabs .nav li {
    width: 14.28%;
}

.country-tabs .nav li button {
    width: 100%;
}

.country-tabs .nav li .active {
    background-color: transparent;
    color: #000;
    border-color: #000;
}

.tab-content .country-accordion h2 {
    margin-bottom: 0;
}

.tab-content .country-accordion .accordion-item {
    border-radius: 0;
    border: none;
    border-top: 1px solid #F4E400;
}

.tab-content .country-accordion .accordion-item:last-child {
    border-bottom: 1px solid #F4E400;
}

.tab-content .country-accordion .accordion-item .accordion-button {
    padding: 25px 15px;
}

.tab-content .country-accordion .accordion-item .accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: transparent;
}

.tab-content .country-accordion .accordion-item .accordion-collapse {
    border: 1px solid rgb(244, 228, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-content .country-accordion .accordion-item .accordion-collapse .accordion-body {
    padding: 25px 15px;
}

.accordion-button:focus {
    box-shadow: none;
}

.tab-content .country-accordion .accordion-item .accordion-button img {
    margin-right: 15px;
}

.tab-content .country-accordion .accordion-item .accordion-button p {
    font-family: "Montserrat", serif;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.tab-content .country-accordion .accordion-item .accordion-inform {
    display: flex;
    flex-wrap: wrap;
}

.tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart {
    width: 33%;
    min-width: 557px;
    max-width: 557px;
    margin-bottom: 30px;
}

.tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart p {
    margin-bottom: 10px;
    font-family: "Montserrat", serif;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart p span {
    font-weight: 600;
}

.tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart h3,
.tab-content .country-accordion .accordion-item .accordion-order h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10px;
}

.tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart a {
    font-family: "Montserrat", serif;
    color: #2804AB;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
    transition: all .3s;
}

.tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart a:hover {
    color: #F4E400;
    text-decoration: none;
}

.tab-content .country-accordion .accordion-item .accordion-order h3 {
    margin-bottom: 30px;
}

.accordion-form-inner {
    display: flex;
    align-items: center;
}

.accordion-form-inner input,
.accordion-form-inner select {
    width: 33%;
    min-width: 393px;
    max-width: 393px;
    padding: 21px 15px;
    border-radius: 10px;
    border: 1px solid #A4B4B8;
    margin-right: 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.accordion-form-inner input::placeholder {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #000
}

.accordion-form-inner select option {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #000
}

.accrdion-button {
    background: rgb(210, 202, 80);
    background: linear-gradient(180deg, rgba(210, 202, 80, 1) 0%, rgba(255, 240, 12, 1) 50%, rgba(210, 202, 80, 1) 100%);
    padding: 21px 106px;
    display: inline-block;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    transition: all .4s;
    min-width: 393px;
    max-width: 393px;
    min-height: 72px;
    border: none;
}

.map {
    margin-bottom: 50px;
}

.map h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.map-inner-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.map-info-card {
    width: 33%;
    min-height: 122px;
}

.map-info-card span {
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    color: #A4B4B8;
    display: inline-block;
    margin-bottom: 20px;
}

.map-info-card p {
    font-size: 22px;
    line-height: 100%;
    font-weight: 300;
    max-width: 320px;
}

.map-info-card a {
    display: block;
    font-size: 22px;
    line-height: 100%;
    font-weight: 300;
}

.map-info-card a {
    margin-bottom: 10px;
}

.map-info-card a:last-child {
    margin-bottom: 0;
}

.map-carta iframe {
    border-radius: 10px;
}

.blog {
    margin-bottom: 50px;
}

.blog h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blog-list-card {
    width: 33%;
    max-width: 449px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background-color: #e3e7e8;
}

.blog-list-card img {
    width: 100%;
    border-top-right-radius: 80px;
}

.blog-card-info {
    padding: 23px 18px;
    background-color: #e3e7e8;
    border-bottom-left-radius: 80px;
}

.blog-card-info .label {
    display: inline-block;
    padding: 10px;
    padding-right: 25px;
    background-color: #0D1551;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    min-width: 144px;
    border-top-right-radius: 45px;
    margin-bottom: 15px;
}

.blog-card-info h4 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 50px;
}

.blog-card-info a {
    display: block;
    text-align: right;
    width: fit-content;
    margin-left: auto;
    color: #0D1551;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.all-material {
    background: rgb(210, 202, 80);
    background: linear-gradient(180deg, rgba(210, 202, 80, 1) 0%, rgba(255, 240, 12, 1) 50%, rgba(210, 202, 80, 1) 100%);
    padding: 18px 52px;
    display: block;
    max-width: fit-content;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    transition: all .4s;
    margin: 0 auto;
}

.connection {
    margin-bottom: 80px;
    background-color: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.connection h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.connection-inner {
    display: flex;
    align-items: center;
}

.connection-info {
    width: 50%;
    max-width: 600px;
    margin-right: 110px;
    padding: 37px 64px;
    box-shadow: 3px 3px 32px 0px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
}

.connection-banner {
    width: 50%;
    max-width: 675px;
}

.connection-banner img {
    width: 100%;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.connection-form input {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #A4B4B8;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #A4B4B8;
    line-height: 28px;
}

.connection-form input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #A4B4B8;
    line-height: 28px;
}

.connection-form textarea {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #A4B4B8;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #A4B4B8;
    line-height: 28px;
}

.connection-form textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #A4B4B8;
    line-height: 28px;
}

.connection-form .form-check {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.connection-form .form-check input {
    padding: 10px;
    margin-right: 10px;
}

.connection-form .form-check label {
    font-size: 12px;
    text-align: left;
    line-height: 14px;
}

.connection-form-button {
    background: rgb(210, 202, 80);
    background: linear-gradient(180deg, rgba(210, 202, 80, 1) 0%, rgba(255, 240, 12, 1) 50%, rgba(210, 202, 80, 1) 100%);
    padding: 18px 52px;
    display: block;
    max-width: fit-content;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    transition: all .4s;
    margin: 0 auto;
    border: none;
}

.footer {
    background-color: #232424;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-top img {
    max-width: 170px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer-navigator h5,
.footer-social h5,
.footer-inform h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 10px;
}

.footer-social ul {
    display: flex;
    align-items: center;
}

.footer-social ul li {
    margin-right: 10px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

.footer-navigator ul li {
    margin-bottom: 5px;
}

.footer-navigator ul li:last-child {
    margin-bottom: 0;
}

.footer-navigator ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
}

.footer-inform p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
}

.footer-inform ul li {
    margin-bottom: 10px;
}

.footer-inform ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
}

.footer-bottom p {
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
}


/* `sm` применяется к устройствам x-small (портретные телефоны, менее 576 пикселей) */
@media (max-width: 575.98px) {

    .header {
        position: relative;
    }

    .top-header {
        flex-direction: column;
        margin-bottom: 0;
    }

    .navbar-toggler {
        display: block;
        position: absolute;
        top: 12%;
        right: 2%;
    }

    .navbar-toggler-icon {
        background-image: url(../img/icon/menu.png)
    }

    .work-time {
        flex-direction: column;
        font-size: 10px;
        width: 100%;
        margin-bottom: 5px;
    }

    .work-time p {
        font-size: 10px;
    }

    .work-time p:first-child {
        margin-right: 0;
    }

    .work-time p:last-child {
        padding-top: 3px;
    }

    .work-time p:last-child::before {
        content: url(../img/icon/time.png);
        padding-right: 5px;
    }

    .phones {
        flex-direction: column;
        width: 100%;
    }

    .phones a {
        font-size: 10px;
    }

    .g-header-menu {
        display: none;
    }

    .slider-item-inner {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .start-info {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .start-info h1 {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 15px;
    }

    .start-info a {
        width: 100%;
        padding: 16px;
        text-align: center;
    }

    .start-banner {
        width: 100%;
        max-width: 100%;
    }

    .country {
        margin-bottom: 25px;
    }

    .country h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .country p:nth-child(2),
    .country p:nth-child(3),
    .country p:nth-child(4) {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .country p:nth-child(4) {
        margin-bottom: 10px;
    }

    .country-tabs .nav {
        border-radius: 0;
        margin-bottom: 15px !important;
    }

    .country-tabs .nav li {
        width: 50%;
    }

    .country-tabs .nav li:first-child button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .country-tabs .nav li:last-child button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .country-tabs .nav button {
        font-size: 12px;
        border-radius: 0;
        min-height: fit-content;
    }

    .tab-content .country-accordion .accordion-item .accordion-button {
        padding: 10px
    }

    .tab-content .country-accordion .accordion-item .accordion-button img {
        width: 35px;
    }

    .tab-content .country-accordion .accordion-item .accordion-button p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .tab-content .country-accordion .accordion-item .accordion-collapse .accordion-body {
        padding: 10px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 20px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart h3,
    .tab-content .country-accordion .accordion-item .accordion-order h3 {
        font-size: 20px;
    }

    .tab-content .country-accordion .accordion-item .accordion-order h3 {
        margin-bottom: 10px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart p {
        font-size: 16px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart a {
        font-size: 16px;
    }

    .accordion-form-inner {
        flex-direction: column;
    }

    .accordion-form-inner input,
    .accordion-form-inner select {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-right: 0;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .accordion-form-inner input::placeholder {
        font-size: 14px;
    }

    .accrdion-button {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 10px;
        min-height: fit-content;
        font-size: 14px;
    }

    .map {
        margin-bottom: 25px;
    }

    .map h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .map-inner-info {
        margin-bottom: 0;
        flex-direction: column;
        align-items: initial;
    }

    .map-info-card {
        width: 100%;
        min-height: fit-content;
        margin-bottom: 15px;
    }

    .map-info-card span {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .map-info-card p {
        font-size: 16px;
        max-width: 100%;
    }

    .map-info-card a {
        font-size: 16px;
        max-width: 100%;
    }

    .blog {
        margin-bottom: 25px;
    }

    .blog h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .blog-list {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .blog-list-card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .blog-list-card:last-child {
        margin-bottom: 0;
    }

    .connection {
        margin-bottom: 40px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .connection h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .connection-inner {
        flex-direction: column;
    }

    .connection-info {
        width: 100%;
        padding: 15px;
        margin-right: 0;
    }

    .connection-form-button {
        font-size: 13px;
    }

    .connection-banner {
        width: 100%;
        max-width: 100%;
    }

    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-top {
        margin-bottom: 25px;
        flex-direction: column;
    }

    .footer-top img {
        margin-bottom: 15px;
    }

    .footer-navigator {
        margin-bottom: 15px;
    }

    .footer-navigator h5,
    .footer-social h5,
    .footer-inform h5 {
        font-size: 14px;
    }

    .footer-navigator ul li a {
        font-size: 12px;
    }

    .footer-inform p {
        font-size: 12px;
    }

    .footer-inform ul li a {
        font-size: 12px;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .footer-bottom a {
        font-size: 12px;
        display: block;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .footer-bottom p {
        font-size: 12px;
    }

}

/* `md` применяется к небольшим устройствам medium (телефоны с горизонтальной ориентацией, менее 768 пикселей) */
@media (max-width: 767.98px) {
    .header {
        position: relative;
    }

    .top-header {
        flex-direction: column;
        margin-bottom: 0;
    }

    .navbar-toggler {
        display: block;
        position: absolute;
        top: 12%;
        right: 2%;
    }

    .navbar-toggler-icon {
        background-image: url(../img/icon/menu.png)
    }

    .work-time {
        flex-direction: column;
        font-size: 10px;
        width: 100%;
        margin-bottom: 5px;
    }

    .work-time p {
        font-size: 10px;
    }

    .work-time p:first-child {
        margin-right: 0;
    }

    .work-time p:last-child {
        padding-top: 3px;
    }

    .work-time p:last-child::before {
        content: url(../img/icon/time.png);
        padding-right: 5px;
    }

    .phones {
        flex-direction: column;
        width: 100%;
    }

    .phones a {
        font-size: 10px;
    }

    .g-header-menu {
        display: none;
    }

    .slider-item-inner {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .start-info {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .start-info h1 {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 15px;
    }

    .start-info a {
        width: 100%;
        padding: 16px;
        text-align: center;
    }

    .start-banner {
        width: 100%;
        max-width: 100%;
    }

    .country {
        margin-bottom: 25px;
    }

    .country h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .country p:nth-child(2),
    .country p:nth-child(3),
    .country p:nth-child(4) {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .country p:nth-child(4) {
        margin-bottom: 10px;
    }

    .country-tabs .nav {
        border-radius: 0;
        margin-bottom: 15px !important;
    }

    .country-tabs .nav li {
        width: 50%;
    }

    .country-tabs .nav li:first-child button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .country-tabs .nav li:last-child button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .country-tabs .nav button {
        font-size: 12px;
        border-radius: 0;
        min-height: fit-content;
    }

    .tab-content .country-accordion .accordion-item .accordion-button {
        padding: 10px
    }

    .tab-content .country-accordion .accordion-item .accordion-button img {
        width: 35px;
    }

    .tab-content .country-accordion .accordion-item .accordion-button p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .tab-content .country-accordion .accordion-item .accordion-collapse .accordion-body {
        padding: 10px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 20px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart h3,
    .tab-content .country-accordion .accordion-item .accordion-order h3 {
        font-size: 20px;
    }

    .tab-content .country-accordion .accordion-item .accordion-order h3 {
        margin-bottom: 10px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart p {
        font-size: 16px;
    }

    .tab-content .country-accordion .accordion-item .accordion-inform .accordion-cart a {
        font-size: 16px;
    }

    .accordion-form-inner {
        flex-direction: column;
    }

    .accordion-form-inner input,
    .accordion-form-inner select {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-right: 0;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .accordion-form-inner input::placeholder {
        font-size: 14px;
    }

    .accrdion-button {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 10px;
        min-height: fit-content;
        font-size: 14px;
    }

    .map {
        margin-bottom: 25px;
    }

    .map h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .map-inner-info {
        margin-bottom: 0;
        flex-direction: column;
        align-items: initial;
    }

    .map-info-card {
        width: 100%;
        min-height: fit-content;
        margin-bottom: 15px;
    }

    .map-info-card span {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .map-info-card p {
        font-size: 16px;
        max-width: 100%;
    }

    .map-info-card a {
        font-size: 16px;
        max-width: 100%;
    }

    .blog {
        margin-bottom: 25px;
    }

    .blog h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .blog-list {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .blog-list-card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .blog-list-card:last-child {
        margin-bottom: 0;
    }

    .connection {
        margin-bottom: 40px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .connection h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .connection-inner {
        flex-direction: column;
    }

    .connection-info {
        width: 100%;
        padding: 15px;
        margin-right: 0;
    }

    .connection-form-button {
        font-size: 13px;
    }

    .connection-banner {
        width: 100%;
        max-width: 100%;
    }

    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-top {
        margin-bottom: 25px;
        flex-direction: column;
    }

    .footer-top img {
        margin-bottom: 15px;
    }

    .footer-navigator {
        margin-bottom: 15px;
    }

    .footer-navigator h5,
    .footer-social h5,
    .footer-inform h5 {
        font-size: 14px;
    }

    .footer-navigator ul li a {
        font-size: 12px;
    }

    .footer-inform p {
        font-size: 12px;
    }

    .footer-inform ul li a {
        font-size: 12px;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .footer-bottom a {
        font-size: 12px;
        display: block;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .footer-bottom p {
        font-size: 12px;
    }
}

/* `lg` применяется к устройствам среднего размера large (планшеты, менее 992 пикселей) */
@media (max-width: 991.98px) {

    .header {
        position: relative;
    }

    .top-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .g-header-menu {
        display: none;
    }

    .navbar-toggler {
        display: block;
        position: absolute;
        top: 18%;
        right: 2%;
    }

    .navbar-toggler-icon {
        background-image: url(../img/icon/menu.png);
    }

    .start {
        margin-bottom: 20px;
    }

    .slider-item-inner {
        padding: 0;
        align-items: flex-start;
    }

    .start-info h1 {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 12px;
    }

    .start-banner {
        width: 45%;
    }

    .country {
        margin-bottom: 20px;
    }

    .country h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .country p:nth-child(2),
    .country p:nth-child(3),
    .country p:nth-child(4) {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .country p:nth-child(4) {
        margin-bottom: 20px;
    }

    .country-tabs .nav {
        border-radius: 0;
        margin-bottom: 20px;
    }

    .country-tabs .nav li {
        width: 33.3333%;
    }

    .country-tabs .nav li:first-child button,
    .country-tabs .nav li:last-child button {
        border-radius: 0;
    }

    .country-tabs .nav button {
        font-size: 18px;
        min-height: 37px;
    }

    .accordion-form-inner {
        flex-direction: column;
    }

    .accordion-form-inner input,
    .accordion-form-inner select {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .accrdion-button {
        min-width: 100%;
        max-width: 100%;
    }

    .map {
        margin-bottom: 20px;
    }

    .map h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .map-inner-info {
        margin-bottom: 10px;
    }

    .map-info-card {
        min-height: 104px;
    }

    .map-info-card span {
        font-size: 14px;
    }

    .map-info-card p,
    .map-info-card a {
        font-size: 16px;
    }

    .blog {
        margin-bottom: 20px;
    }

    .blog-list {
        margin-bottom: 20px;
    }

    .blog-list-card {
        width: 32%;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    .blog-list-card img {
        border-top-right-radius: 40px;
    }

    .blog-card-info {
        padding: 10px;
        border-bottom-left-radius: 40px;
    }

    .blog-card-info .label {
        padding: 10px;
        font-size: 12px;
        border-top-right-radius: 45px;
        margin-bottom: 10px;
    }

    .blog-card-info h4 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 26px;
    }

    .connection {
        margin-bottom: 40px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .connection h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .connection-inner {
        flex-direction: column;
    }

    .connection-info {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .connection-banner {
        width: 100%;
        max-width: 100%;
    }

    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-top {
        margin-bottom: 20px;
    }

    .footer-top img {
        max-width: 100px;
        margin-right: 15px;
    }

    .footer-navigator,
    .footer-social {
        margin-right: 15px;
    }





}

/* `xl` применяется к большим устройствам (настольные компьютеры, менее 1200 пикселей) */
@media (max-width: 1199.98px) {}

/* xxl` применяется к устройствам x-large (большие рабочие столы, менее 1400 пикселей) */
@media (max-width: 1399.98px) {}