*{
    box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

body{
    font-family: "Ubuntu", sans-serif;
}

.container{
    max-width: 1340px;
    margin: 0 auto;
}

.header-main .navbar-toggler{
    display: none;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
}

.logo img{
    max-width: 100px;
    max-height: 100px;
}

.button-panel{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.phones{
    margin-right: 5px;
}

.button-panel button{
    width: 170px;
    border-radius: 0;
    background-color: #0d1551;
    border-color: #0d1551;
    transition: all .3s;
}

.button-panel button:hover{
    background-color: transparent;
    color: #0d1551;
    transition: all .3s;
}

.social{
    text-align: right;
}

.dropstart .dropdown-toggle::before{
    display: none;
}

.phones .dropdown-menu{
    padding: 5px;
    border-color: #0d1551;
    border-radius: 0;
    text-align: center;
}

.phones .dropdown-menu li{
    margin-bottom: 5px;
}

.phones .dropdown-menu li:last-child{
    margin-bottom: 0;
}

.phones .dropdown-menu li a::before{
    content: url(../img/icon/telephone.png);
}

.bg-dark{
    background-color: #0d1551 !important;
}

.menu{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu li{
    margin-right: 20px;
}

.menu li:last-child{
    margin-right: 0;
}

.menu li a{
    color: #fff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
}

.start{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.strat-inner{
    padding-top: 150px;
    padding-bottom: 150px;
}

.start-info{
    background: rgb(244 228 0 / 84%);
    border-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(244, 228, 0, 0.3);
    max-width: fit-content;
    padding: 35px;
}


.start-info h1{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 15px;
    font-size: 42px;
}

.start-info p{
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 30px;
}

.start-info a{
    display: inline-block;
    text-align: center;
    min-width: 170px;
    padding: 15px;
    background-color: #0d1551;
    border: 1px solid #0d1551;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.start-info a:hover{
    background-color: transparent;
    color: #000;
    transition: all .3s;
}

.start-slider{
    margin-bottom: 50px;
}

h2{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    font-size: 36px;
    margin-bottom: 20px;
}

.visas{
    margin-bottom: 50px;
}

.visas h2{
    text-align: center;
}

.notification{
    text-align: center;
    margin-bottom: 20px;
}

.notification p{
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 5px;
}

.notification p:last-child{
    margin-bottom: 0;
}

.visa-inner .nav-pills{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 25px !important;
}

.visa-inner .nav-item{ 
    width: 14.29%;
}

.visa-inner .nav-pills li button{
    width: 100%;
    min-height: 64px;
    border-radius: 0;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #0d1551;
    color: #0d1551;
}

.visa-inner .nav-pills li button{
    border-left: none;
}

.visa-inner .nav-pills li:first-child button{
    border-left: 1px solid #0d1551;
}

.visa-inner .nav-pills .nav-link.active{
    background-color: #0d1551;
    border-right-color: #fff;
}

.country{
    display: flex;
    max-width: 1316px;
    flex-wrap: wrap;
}

.country-card{
    width: 24%;
    max-width: 25%;
    margin-right: 17px;
    margin-bottom: 20px;
    border: 1px solid #0d1551;
}

.country-card:nth-child(4n+4){
    margin-right: 0;
}

.country-card img{
    width: 100%;
    max-width: 323px;
    max-height: 205px;
    object-fit: contain;
}

.country-card-content{
    padding: 15px;
    min-height: max-content;
}

.country-card-content h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

.country-card-content ul{
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    list-style-type: disclosure-closed;
    margin-left: 23px;
    margin-bottom: 15px;
    min-height: 90px;
}

.country-card-content button{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #0d1551;
    background-color: transparent;
    transition: all .3s;
}

.country-card-content button:hover{
    background-color: #0d1551;
    color: #fff;
    transition: all .3s;
}

.banner{
    margin-bottom: 50px;
}

.banner img{
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.map{
    margin-bottom: 50px;
}

.map h2{
    text-align: center;
}

.map-inner{
    display: flex;
}

.map-info{
    width: 50%;
    max-width: 560px;
    border: 1px solid #0d1551;
    margin-right: 20px;
    padding: 30px;
}

.map-location{
    width: 60%;
    border: 1px solid #0d1551;
}

.map-info-link{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.map-info-link img{
    margin-right: 5px;
}

.map-info-link a{
    padding-bottom: 3px;
    border-bottom: 1px solid;
}

.map-info h4{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 15px;
}

.map-content span{
    display: block;
    margin-bottom: 5px;
    color: #7D7C7C;
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
}

.map-content p{
    margin-bottom: 15px;
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
}

.map-content ul{
    margin-bottom: 20px;
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
}

.map-content ul li{
    margin-bottom: 7px;
}

.map-content ul li:last-child{
    margin-bottom: 0;
}

.map-content ul li a{
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
}

.map-content ul li a::before{
    content: url(../img/icon/telephone.png);
    padding-right: 5px;
}

.map-content button{
    display: inline-block;
    text-align: center;
    min-width: 170px;
    padding: 15px;
    background-color: #0d1551;
    border: 1px solid #0d1551;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.map-content button:hover{
    background-color: transparent;
    color: #0d1551;
    transition: all .3s;
}

.connection{
    margin-bottom: 50px;
}

.connection-inner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 131px;
    padding-bottom: 131px;
    padding-right: 19px;
    padding-left: 19px;
}

.connection-content{
    background: rgba(13, 21, 81, 0.68);
    border-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(13, 21, 81, 0.3);
    padding: 90px 60px;
    color: #fff;
}

.form-data{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-data input{
    width: 285px;
    max-width: 285px;
    border-radius: 0;
    margin-right: 15px;
}

.form-data input:last-child{
    margin-right: 0;
}

.form-data input::placeholder{
    color: #0d1551;
}

.form-otravka{
    display: flex;
    align-items: center;
    max-width: 885px;
    margin-bottom: 15px;
}

.form-otravka input{
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.connection-content-send{
    display: inline-block;
    text-align: center;
    min-width: 170px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #0d1551;
    cursor: pointer;
    transition: all .3s;
    color: #0d1551;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

input[type="submit" i]:disabled {
    background-color: #adabab7d;
}

.footer{
    padding-top: 50px;
    border-top: 1px solid #0d1551;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-left ul{
    display: flex;
    align-items: center;
}

.footer-left ul li{
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    margin-right: 10px;
}

.footer-left ul li:last-child{
    margin-right: 0;
}

.f_logo img{
    margin-bottom: 68px;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #0d1551;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.footer-center span{
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
}

.footer-center ul{
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 15px;
}

.footer-center ul li{
    margin-bottom: 3px;
}

.footer-center ul li:last-child{
    margin-bottom: 0;
}

.footer-center ul li a::before{
    content: url(../img/icon/telephone.png);
    padding-right: 5px;
}

.footer-center p{
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.footer-right button{
    display: inline-block;
    text-align: center;
    min-width: 170px;
    padding: 15px;
    background-color: #0d1551;
    border: 1px solid #0d1551;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 70px;
}

.footer-right button:hover{
    transition: all .3s;
    background-color: transparent;
    color: #0d1551;
}

.modal-content{
    border-radius: 0;
}

.visas_modals .modal-header{
    border: none;
    padding-bottom: 0;
}

.visas_modals .modal-header h1{
    font-size: 34px !important;
    text-transform: uppercase;
}

.modal-visa-content{
    display: flex;
    margin-bottom: 15px;
}

.visa-content-banner{
    width: 30%;
    margin-right: 10px;
}

.visa-content-accordeon{
    width: 70%;
}

.visa-content-banner img{
    width: 100%;
    max-width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

.visa-content-accordeon .accordion-body p{
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 10px;
}

.visa-content-accordeon .accordion-body p:last-child{
    margin-bottom: 0;
}

.visa-content-accordeon .accordion-body ul{
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 10px;
}

.visa-content-accordeon .accordion-body ul:last-child{
    margin-bottom: 0;
}

.visa-content-accordeon .accordion-body ul li{
    margin-bottom: 3px;
}

.visa-content-accordeon .accordion-body ul:last-child{
    margin-bottom: 0;
}

.visa-content-accordeon .accordion-body .form-inner{
    margin-bottom: 10px;
}

.visas_modals .accordion-header button{
    border-radius: 0;
    border: 1px solid #0d1551;
    border-bottom: none;
}

.visas_modals .accordion-header button:last-child{
    border: 1px solid #0d1551;
}

.visas_modals .accordion-item:first-of-type>.accordion-header .accordion-button{
    border-radius: 0;
}

.visas_modals .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border-radius: 0;
}

.visas_modals h2{
    font-size: 28px;
}

.visas_modals .modal-visa-text h2{
    margin-bottom: 10px;
}

.modal-visa-text p{
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 10px;
}

.modal-visa-text ul{
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
}

.visas_modals h3{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    font-size: 24px;
    margin-bottom: 10px;
}

.visas-forma{
    margin-bottom: 30px;
}

.modal-visa-faq h2{
    text-align: center;
}

.visas_modals .modal-header{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.visas_modals .modal-body{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.visas_modals input{
    width: 200px;
    max-width: 200px;
    padding: 15px;
    border-radius: 0;
    margin-right: 15px;
    border: 1px solid #0d1551;
}

.visas_modals input:last-child{
    margin-right: 0;
}

.visas_modals input::placeholder{
    color: #0d1551;
}

.visas_modals form button{
    width: 220px;
    max-width: 220px;
    min-height: 50px;
    padding: 15px;
    background-color: #0d1551;
    color: #fff;
    border: 1px solid #0d1551;
    transition: all .3s;
}

.visas_modals form button:hover{
    background-color: transparent;
    color: #0d1551;
}


/* `sm` применяется к устройствам x-small (портретные телефоны, менее 576 пикселей) */
@media (max-width: 575.98px) {
    .header-main .navbar-toggler{
        display: block;
    }

    .button-panel{
        display: none;
    }
}

/* `md` применяется к небольшим устройствам medium (телефоны с горизонтальной ориентацией, менее 768 пикселей) */
@media (max-width: 767.98px) {}

/* `lg` применяется к устройствам среднего размера large (планшеты, менее 992 пикселей) */
@media (max-width: 991.98px) {}

/* `xl` применяется к большим устройствам (настольные компьютеры, менее 1200 пикселей) */
@media (max-width: 1199.98px) {}

/* xxl` применяется к устройствам x-large (большие рабочие столы, менее 1400 пикселей) */
@media (max-width: 1399.98px) {}